.btn {
    border: none;
    padding: 0;
    border: 1px solid var(--blue-color);
    border-radius: 100%;
    padding: 5px 4px 1px 4px;
    background-color: var(--blue-color);
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    color: var(--light-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .btn:focus {
    border: 1px solid var(--blue-color);
    background-color: var(--light-color);
    color: var(--blue-color);
  }
  @media (min-width: 1025px) {
    .btn:hover {
      border: 1px solid var(--blue-color);
      background-color: var(--light-color);
      color: var(--blue-color);
    }
  }
  .btn:active {
    color: var(--orange-color);
  }
  @media (max-width: 1024px) {
    .btn {
      font-weight: 400;
    }
  }