.btn {
    border-radius: 100%;
    border: 1px solid var(--blue-color);
    padding: 5px 4px 1px 4px;
    background-color: var(--blue-color);
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
  }
  .btn:not(:last-child) {
    margin-right: 10px;
  }
  .btn:focus {
    background-color: var(--light-color);
  }
  .btn:focus svg {
    fill: var(--blue-color);
  }
  .btn svg {
    fill: var(--light-color);
    width: 20px;
    height: 20px;
    -webkit-transition: fill 0.4s ease-in-out;
    transition: fill 0.4s ease-in-out;
  }
  @media (min-width: 1025px) {
    .btn svg:hover {
      fill: var(--blue-color);
    }
  }
  @media (min-width: 1025px) {
    .btn:hover {
      background-color: var(--light-color);
    }
  }
  .btn:active {
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
  }